body{
	background:#9FC5ED;
	font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,sans-serif;
}
ul,ol{list-style-type:none;}
p,blockquote,li{text-align:justify;line-height:20px;}
iframe{border:inset 2px;}
a,a:visited{text-decoration:none;color:#00f}
a:hover{text-decoration:underline;}
a img{border:0}
label{display:block;}
p,ul,ol{margin-bottom:20px;}
p{width:700px;}
small {color:#4E4E4E; font-size:0.9em;}
abbr[title] {border-bottom:1px dashed;cursor:help}
blockquote{padding-left:80px;background: url("../images/q.png") no-repeat scroll 5px -10px; min-height:80px;font-size:90%}
blockquote > * {width:446px; padding-right:45px; background: url("../images/small_q.png") no-repeat scroll bottom right;padding-bottom:15px;min-height:65px}
textarea{font-family:Helvetica,Arial,sans-serif; font-size:90%;padding:10px}
sup{font-size:70%; vertical-align:top;}
blockquote+cite{display:block;text-align:right; margin-right:120px}
dt:after{content:':'}
dd{width:655px; text-align:justify; margin-bottom:10px;}
.clear{clear:both;}


#access_box a{display:inline-block; width:150px; text-indent:-9999px; overflow:hidden;}
#access_box a:focus, #access_box a:hover{text-indent:0}

body > header{
	width:960px;
	margin:0 auto;
	position:relative;
	height:225px;
	z-index:30;
}

body > header h1 a{
	position:absolute;
	left:25px;
	color:#034B98;
	font-size:5em;
	text-shadow: -7px 5px 22px #4F4F48;
	display:block;
}

body > header h1 a:hover{text-decoration:none}

body > header h1 span{
	font-size:0.6em;
}

dl{margin:10px;}
input.submit{margin-right:10px;}

#main{
	width:940px;
	margin:0 auto;
	min-height:500px;
	background:#eee;
	border:5px solid #fff;
	position:relative;
	padding:20px 10px;
	overflow:auto;
}
.box{
    background:#fff;
    padding:20px;
    border:3px solid #BAB6B6;
}

h1,h2,h3,h4{font-weight:bold; font-family:Helvetica,Arial,sans-serif; margin-bottom:20px;margin-top:20px;}

h1{
	font-size: 1.5em;
	margin-bottom:25px;
	text-align:left;
	color:#2583E6;
}

h1 a, h1 a:visited{color:#2583E6;}

h2{
	font-size:1.5em;
}
h3{font-size:1.2em;}


.dark{
    background:#e5e5e5;	
}

#search{position:absolute;right:0;bottom:0}

#subs{text-align:center; font-size:1.5em; margin-bottom:10px; height:30px;}

body > footer{width:auto;background:url(../images/grass2.gif); height:40px; margin-top:30px; bottom:0}

#article-list{float:left;width:620px;}

.post, #paging {margin-bottom:10px;}

.post h3,#info h3{margin-right:10px;font-size:0.8em;float:left}
.tags {float:left; font-size:0.8em;}

#tag-list {width:220px; float:right;}
#tag-list li{margin-bottom:10px; margin-left:20px;}
#paging {padding:0; text-align:center; width:614px;}

figcaption {font-weight:bold; font-size:0.9em; margin-bottom:5px;}

#sky{
    width:100%;
    height:250px;
    position:absolute;
    top:50px;
    padding:0; margin:0;
}

#clouds_l{
    width:100%;
    height:115px;
    background:url(../images/cloud.gif) repeat-x 0 0;
    z-index:50;
    top:85px;
    position:absolute;
}

#clouds_s{
    width:100%;
    height:58px;
    background:url(../images/cloud.gif) repeat-x 0 bottom;
    z-index:10;
    position:absolute;
}

#paging{
	overflow:hidden; 
	font-size:80%;
	line-height:20px;
	vertical-align:baseline;
}
#paging ol{width:620px; text-align:center;}
#paging li{display:inline}

#wind{position:absolute;top:210px; font-size:70%; color:#00f; cursor:pointer;}