p{margin-left:15px;}
blockquote p{width:620px}
dl{overflow:hidden;padding-left:15px;}
dd{margin-left:25px;}

#content{
	padding:210px 50px 80px;
	margin-top:0;
	border-top:none;
	position:relative;
	margin-bottom:20px
}
#content header {
	background:#EEEEEE; 
	border-bottom:3px solid #BAB6B6; 
	position:absolute; 
	top:0; 
	left:-3px;
	padding:0 50px;
	width:840px;
	height:110px;
}
#content > header h1{font-size:2.5em; text-align:center; height:45px;}
#content ol, #content ul{padding:0 60px; width:640px}
#content ol {list-style:decimal outside;}
#content ul {list-style:disc}
#content li {margin-bottom:5px;}

#content blockquote ol, #content blockquote ul{padding-right:45px; padding-left:15px; width:620px}

#info{margin:15px;overflow:hidden;height:85px; position:absolute; top:115px; width:904px; left:0}
#info ul{width:auto; padding:0;float:left; margin:0;}
#info p{color:#4E4E4E; font-size:0.8em;float:right;padding:0 5px 0 10px; width:230px;text-align:right}
#info .tags a{text-decoration:underline;}
#info h3{font-weight:normal; font-size:0.9em; margin-top:0; line-height:20px; vertical-align:baseline; margin-bottom:0}
#info .share{width:123px; clear:both; height:16px; line-height:16px; margin:0; padding:3px; float:right}
#info .share img{margin:0}
#info .short{font-size:70%;}
img{margin:10px auto;border:3px #ccc solid;display:block}
#content ul.image-list{width:843px; vertical-align:top;list-style-type:none; padding:0}
ul.image-list li{display:inline-block; vertical-align:top;}
ul.image-list figure{text-align:center; margin:5px 10px;width:250px}
figcaption{display:block; font-size:80%; margin-bottom:10px;}


.comment{width:620px; margin:0 auto 10px}

.comment header{
	height:auto;
	padding-left:90px;
	margin-bottom:15px;
}

#comments > header h1{text-align:center;}

.comment header img{margin-left:-86px;border:2px solid #BAB6B6;}

.comment h1{font-size:1em; text-align:left; margin-bottom:5px;margin-top:-80px} 
.comment h2{font-size:1em; margin:10px 0;}
.comment dfn{font-style:normal;font-size:0.8em}
.comment .content {margin-left:90px; font-size:90%;}
.comment .content p{ width:530px; margin:0}
.comment small{text-align:left;}

.tags li{display:inline}

small{text-align:right;display:block;}

#new-comment{width:620px; margin:60px auto 0;position:relative;}
#new-comment header{overflow:hidden; height:auto;}
#new-comment legend span{margin-bottom:20px;display:block; width:620px; text-align:center; top:0; text-transform:uppercase; font-weight:bold }
#new-comment h1 {margin-top:-85px}
#new-comment h1,#new-comment h2{overflow:hidden; font-size:1em; font-weight:normal;}
#new-comment label span {float:left; width:50px; padding-right:5px; text-align:right; margin-top:5px;}
#new-comment input {float:left;width:460px;}
#new-comment textarea{height:200px; width:499px; font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,sans-serif;}
#new-comment input[type=submit]{margin:10px 0 0 90px; width:520px}
#new-comment small {text-align:left;padding-left:55px;}
#new-comment .extra {display:none;}
#new-comment .validation-advice{padding-left:55px;width:475px; display:block;color:red;font-size:0.8em;}

h4{font-weight:bold;}

#content .dp-highlighter ol,.dp-highlighter .bar{padding:0 0 0 30px;width:auto;}
#content .dp-highlighter {margin-left:-25px;width:880px}
.dp-highlighter .vars{color:#00f;}
.dp-highlighter .func{color:#A73B3B; font-weight:bold;}
.dp-highlighter span.string{color:#f00}
code{font-size:120%}
.dp-highlighter span{font-size:110%;}
article .dp-highlighter ol li {line-height:17px;}

#content table .dp-highlighter{
    width:365px;
    margin:0;
}

#content table{
    border:1px solid #ccc;
    border-collapse: collapse;
}
td {border:1px solid #aaa; padding:20px; text-align:justify}

code {background:#ccc; padding:0 5px; white-space: nowrap;}

#content dt{margin-left:-15px; margin-bottom:10px;}

#content li .dp-highlighter{width:835px;}