#main > header {margin-bottom:60px;}
#main > header h1{font-size:3em;text-align:center;}

#info h3{font-weight:normal;font-size:0.9em;margin-bottom:10px; margin-top:0}

article#content{padding:50px 50px 80px}
article#content ol {padding:30px;list-style:decimal outside;}
article#content ul {padding:30px;list-style:disc}
article#content li {margin-bottom:10px;}

.comment{margin-bottom:10px;}

.comment header{
	height:70px;
	padding-left:90px;
	margin-bottom:15px;
}

.comment header img{margin-left:-86px;border:2px solid #BAB6B6;}
.comment header h1{margin-top:-70px}

.comment h1{font-size:1em; text-align:left; margin-bottom:5px;} 
.comment h2{font-size:0.8em;}
.comment .content {margin-left:90px;}
.comment small{text-align:left;}

.tags li{display:inline}

small{text-align:right;display:block;}

#content{margin-bottom:20px}

#info{margin:15px;overflow:auto;}

#info p{color:#4E4E4E; font-size:0.8em;float:right;padding:0 5px 0 10px; width:180px;}

#new-comment{width:500px; margin:0 auto;position:relative;}
#new-comment legend span{margin-bottom:20px;display:block; width:500px; text-align:center; top:0; text-transform:uppercase; font-weight:bold }
#new-comment input, #new-comment textarea,#new-comment .validation-advice{width:460px; display:block;margin:0 auto;}
#new-comment textarea{height:200px;}
#new-comment input.submit{margin:10px}
#new-comment small {text-align:left;}
#new-comment label {margin-top:5px; font-size:0.9em}

.validation-advice{font-weight:bold; color:red;font-size:0.8em;}
h4{font-weight:bold;}