h4{font-weight:normal;font-size:0.9em;margin-bottom:10px}

.post{
	margin-bottom:10px;
}

.header{
	height:70px;
	padding-left:90px;
	margin-bottom:15px;
}

.header img{margin-left:-86px;border:2px solid #BAB6B6;}
.header h3{margin-top:-70px}

.comment{margin-bottom:10px;}

.tags li{display:inline}

small{text-align:right;display:block;}

#content{margin-bottom:20px}

#info{margin:15px;overflow:auto;}

#info p{color:#4E4E4E; font-size:0.8em;float:right;padding:0 10px; width:265px;}

#new-comment{width:500px; margin:0 auto;position:relative;}
#new-comment legend span{display:block; width:500px; text-align:center; top:0; text-transform:uppercase; font-weight:bold }
#new-comment input, #new-comment textarea{width:460px;}
#new-comment textarea{height:200px;}
#new-comment input.submit{margin:10px}
#new-comment small {text-align:left}
#new-comment label {margin-top:5px; font-size:0.9em}
