AddHandler php-cgi .php
Action php-cgi /cgi-bin/php.cgi

RewriteEngine On

RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [NC,L]

<FilesMatch "^php5?\.(ini|cgi)$">
Order Deny,Allow
Deny from All
Allow from env=REDIRECT_STATUS
</FilesMatch>

<IfModule mod_deflate.c>
<FilesMatch "\.(js|css|png|jpg|jpeg|gif|woff|html|php)$">
SetOutputFilter DEFLATE
</FilesMatch>
</IfModule>
